:root {
    --primary-color: #ec1f55;
    --text-color: #333;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  
  }
  
  body {
    width:100%;
    background-color: #f5f5f5;
    background: url(./assests/image/background.jpg) center center/cover no-repeat;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .nav{
    position: relative;
    background-color: rgba(9, 9, 9, 0.68);
    height:24px;
    width:100%;
  }
  .player {
    position: none;
    max-width:40%;
  }
  
  .player .icon-pause {
    display: none;
    color: rgb(255, 255, 255);
    size: 12px;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-color: rgba(238, 232, 232, 0.02);
    position: fixed;
    bottom: 0%;
    width: 100%;
    max-width: 80%;
    left:39.5%;
    border-radius: 15px;
  }
  .content {
    position: relative;
    display: block;
    right:0.5%;
    width:76%;

  }
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: #d4a9b4;
    font-size: 14px;
    font-family: 'Coming Soon', cursive;
  }
  header h2 {
    color:#d9738f;
    font-size: 26px;
    font-weight: 800;
    font-family: 'Lobster', cursive;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(117, 115, 115, 0.7);
    opacity: 0.6;
    margin-top: 6px;
    border-radius: 20px;
    height: 42px;
  }
  
  .control .btn {
    color: #f0f0f0;
    padding: 16px;
    font-size: 19px;
    cursor: pointer;
  }
  
  .control .btn.active {
    color: #df5e81;
  }
  
  .control .btn-toggle-play {
   position: relative;
    width: 28px;
   height: 27.5px;
   border-radius: 50%;
   font-size: 22px;
   color: #beb9b9;
   display: flex;
   bottom: 0px;
   align-items: center;
   justify-content: center;
   box-shadow:  rgb(221, 221, 221) 0px 0px 0px, 0 0 0 6px #f15f86;
   position: relative;
   cursor: pointer;
   z-index: 2;
  }
  
  
  
  .progress {
    width: 100%;
    height: 6px;
    background: #656363;
  
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  /* PLAYLIST */
  .playlist {
    margin-top: -1%;
      padding: 6px;
      position: relative;
  }
  
  .song {
    display: flex;
    align-items:center;
    margin-bottom: 12px;
    background-color:rgba(231, 225, 225, 0.002);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .song.active {
    background-color: rgb(241, 95, 134,0.72);
    opacity: 0.65;
  }
  
  .song:active {
    opacity: 0.7;
  }
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #ffffff;
    cursor: pointer;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 24px;
    font-family: 'Send Flowers', cursive;
    color: rgba(246, 188, 202, 0.69);
  }
  
  .song .author {
    font-size: 12px;
    display: none;
    color: #f7cfcf;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #c0b7b7;
    font-size: 18px;
  }
  
  /*responsive*/
  @media (max-width:63.9375em){
  body {
    width:100%;
    position: relative;
    background-color: #090909;
    z-index: 1;
  }
  .content{
    display: block;
    position: relative;
    margin-top: -1px;
    width: 109%;
    margin-left: -15px;
    margin-right: -5px;
    background-color: rgba(75, 75, 75, 0.68);
    border-radius: 20px;
  }
  .nav{
    position: relative;
    background-color: rgb(9, 9, 9,0.87);
    height: 15px;
    width: 100%;
    top: 0px;
    z-index:4;
  }
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
    color: #ffffff;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    background: url(./assests/image/background.jpg) center center/cover no-repeat;
  
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    max-width: 100%
    ;
    border-bottom: 1px solid #ebebeb;
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: #dd8198;
    font-size: 14px;
    font-family: 'Coming Soon', cursive;
  }
  
  header h2 {
    color:#e2adbc;
    font-size: 22px;
    font-family: 'Lobster', cursive;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    display: none;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
   background-color: rgba(255, 255, 255,0);
  }
  
  .control .btn {
    color: #ffffff;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    position: relative;
     width: 28px;
    height: 20.5px;
    border-radius: 50%;
    font-size: 22px;
    color: #ffffff;
    display: flex;
    bottom: 4.3px;
    align-items: center;
    justify-content: center;
    box-shadow:  rgb(221, 221, 221) 0px 0px 0px, 0 0 0 5px #f15f86;
    position: relative;
   
   }
  
   /*.control .btn-toggle-play::before{
     content:"";
     width: 40px;
     height: 35.5px;
     position:absolute;
     top:8.5px;
     left:2px;
     background-image: linear-gradient(to right bottom, #ff6bcb,#ffb86c);
     transform: scale(1.2);
  
    }*/
  .progress {
    position: relative;
    width: 95%;
    height: 6px;
    left:9px;
    background: rgba(75, 75, 75, 0.7);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  /* PLAYLIST */
  .playlist {
    position: absolute;
    margin-top: 118px;
    padding: 12px;
    width: 100%;
    z-index: 1;
    border-radius: 28px;
    opacity: 0.98;
  
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: rgba(255, 163, 163, 0.2);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    background-color: rgb(241, 95, 134,0.72);
    opacity: 0.65;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
    font-family: 'Send Flowers', cursive;
  }
  
  .song .author {
    font-size: 18px;
    color: #f7cfcf;
    display: none;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }
  
  }